.site-header,.site-header-actions .select-menu {
    position: relative
}

.markdown-body,body {
    font-family: Arial,"Hiragino Sans GB","冬青黑","Microsoft YaHei","微软雅黑",SimSun,"宋体",Helvetica,Tahoma,Arial sans-serif;
    font-size: 16px;
    line-height: 1.6;
    word-wrap: break-word;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -webkit-backface-visibility: hidden
}

@font-face {
    font-family:octicons;src:font-url(../fonts/octicons.eot?#iefix) format("embedded-opentype"),font-url(../fonts/octicons.woff) format("woff"),font-url(../fonts/octicons.ttf) format("truetype"),font-url(../fonts/octicons.svg#octicons) format("svg");font-weight:400;font-style:normal
}

.pagination {
    padding: 20px 0
}

.pagination a.active {
    background: #337ab7;
    border-color: #337ab7;
    z-index: 2;
    color: #fff;
    cursor: default
}

.text-center {
    text-align: center
}

.btn-inline .btn {
    margin: 5px
}

.site-header {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee
}

.site-header .account-switcher {
    display: inline-block;
    margin-top: -2px;
    margin-bottom: -6px
}

.site-header-actions .select-menu:after,.site-header-actions .select-menu:before {
    display: table;
    content: ""
}

.site-header ul.site-header-actions {
    z-index: 21;
    float: right;
    margin: 0
}

.site-header ul.site-header-actions .feed-icon {
    margin-top: 5px
}

.site-header .path-divider {
    margin: 0 .25em
}

.site-header h1 {
    float: left
}

.site-header h1,.site-header h1 .octicon {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 32px;
    font-weight: 400;
    line-height: 28px;
    vertical-align: top
}

.markdown-body dl dt,.markdown-body table th,.pl-mb,.pl-mdr,.pl-mh,.pl-mh .pl-en,.pl-ms,.pl-sr .pl-cce,.site-header h1 strong {
    font-weight: 700
}

.site-header h1 a {
    white-space: nowrap;
    color: #333
}

.site-header h1 a:hover {
    text-decoration: none
}

.site-header h1 .avatar {
    margin-top: -2px;
    margin-right: 9px;
    margin-bottom: -2px
}

.site-header-actions>li {
    float: left;
    margin: 0 10px 0 0;
    font-size: 11px;
    color: #333;
    list-style-type: none
}

.site-header-actions>li:last-child {
    margin-right: 0
}

.site-header-actions .octicon-mute {
    color: #c00
}

.site-header-actions .select-menu:after {
    clear: both
}

.site-header-actions .select-menu-modal-holder {
    top: 100%
}

.site-header-nav {
    float: right;
    margin-bottom: -20px
}

.site-header-nav-item {
    display: inline-block;
    padding: 6px 10px 15px;
    margin-left: 1.25rem;
    font-size: 1rem;
    color: #777
}

.site-footer:after,.site-footer:before {
    display: table;
    content: ""
}

.site-header-nav-item:hover {
    color: #333;
    text-decoration: none
}

.site-header-nav-item.selected {
    color: #333;
    padding: 6px 10px 13px;
    border-bottom: 2px solid #d26911
}

.site-header-nav-item+.btn-outline {
    margin-top: -1px;
    margin-left: 20px
}

.site-footer {
    position: relative;
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 12px;
    line-height: 1.5;
    color: #777;
    border-top: 1px solid #eee
}

.markdown-body h1,.markdown-body h2 {
    padding-bottom: .3em;
    border-bottom: 1px solid #eee
}

.site-footer .copyright {
    padding-right: 20px
}

.site-footer:after {
    clear: both
}

.site-footer .octicon-mark-github {
    position: absolute;
    top: 38px;
    left: 50%;
    height: 24px;
    width: 24px;
    margin-left: -12px;
    font-size: 24px;
    color: #ccc
}

.site-footer .octicon-mark-github:hover {
    color: #bbb
}

.site-footer-links {
    margin: 0;
    list-style: none
}

.site-footer-links li {
    display: inline-block;
    line-height: 16px
}

.site-footer-links li+li {
    margin-left: 10px
}

.share {
    margin: 20px 0
}

.markdown-body {
    overflow: hidden
}

.markdown-body>:first-child {
    margin-top: 0!important
}

.markdown-body>:last-child {
    margin-bottom: 0!important
}

.markdown-body a:not([href]) {
    color: inherit;
    text-decoration: none
}

.markdown-body .absent {
    color: #c00
}

.markdown-body .anchor {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    padding-right: 6px;
    padding-left: 30px;
    margin-left: -30px
}

.markdown-body .anchor:focus {
    outline: 0
}

.markdown-body h1,.markdown-body h2,.markdown-body h3,.markdown-body h4,.markdown-body h5,.markdown-body h6 {
    position: relative;
    margin-top: 1em;
    margin-bottom: 16px;
    font-weight: 700;
    line-height: 1.4
}

.markdown-body h1 .octicon-link,.markdown-body h2 .octicon-link,.markdown-body h3 .octicon-link,.markdown-body h4 .octicon-link,.markdown-body h5 .octicon-link,.markdown-body h6 .octicon-link {
    display: none;
    color: #000;
    vertical-align: middle
}

.markdown-body h1:hover .anchor,.markdown-body h2:hover .anchor,.markdown-body h3:hover .anchor,.markdown-body h4:hover .anchor,.markdown-body h5:hover .anchor,.markdown-body h6:hover .anchor {
    padding-left: 8px;
    margin-left: -30px;
    text-decoration: none
}

.markdown-body h1:hover .anchor .octicon-link,.markdown-body h2:hover .anchor .octicon-link,.markdown-body h3:hover .anchor .octicon-link,.markdown-body h4:hover .anchor .octicon-link,.markdown-body h5:hover .anchor .octicon-link,.markdown-body h6:hover .anchor .octicon-link {
    display: inline-block
}

.markdown-body h1 code,.markdown-body h1 tt,.markdown-body h2 code,.markdown-body h2 tt,.markdown-body h3 code,.markdown-body h3 tt,.markdown-body h4 code,.markdown-body h4 tt,.markdown-body h5 code,.markdown-body h5 tt,.markdown-body h6 code,.markdown-body h6 tt {
    font-size: inherit
}

.markdown-body h1 {
    font-size: 2.25em;
    line-height: 1.2
}

.markdown-body h1 .anchor {
    line-height: 1
}

.markdown-body h2 {
    font-size: 1.75em;
    line-height: 1.225
}

.markdown-body h2 .anchor {
    line-height: 1
}

.markdown-body h3 {
    font-size: 1.5em;
    line-height: 1.43
}

.markdown-body h3 .anchor,.markdown-body h4 .anchor {
    line-height: 1.2
}

.markdown-body h4 {
    font-size: 1.25em
}

.markdown-body h5 .anchor,.markdown-body h6 .anchor {
    line-height: 1.1
}

.markdown-body h5 {
    font-size: 1em
}

.markdown-body h6 {
    font-size: 1em;
    color: #777
}

.markdown-body blockquote,.markdown-body dl,.markdown-body ol,.markdown-body p,.markdown-body pre,.markdown-body table,.markdown-body ul {
    margin-top: 0;
    margin-bottom: 16px
}

.markdown-body hr {
    height: 4px;
    padding: 0;
    margin: 16px 0;
    background-color: #e7e7e7;
    border: 0
}

.markdown-body ol,.markdown-body ul {
    padding-left: 2em
}

.markdown-body ol.no-list,.markdown-body ul.no-list {
    padding: 0;
    list-style-type: none
}

.markdown-body ol ol,.markdown-body ol ul,.markdown-body ul ol,.markdown-body ul ul {
    margin-top: 0;
    margin-bottom: 0
}

.markdown-body li>p {
    margin-top: 16px
}

.markdown-body dl {
    padding: 0
}

.markdown-body dl dt {
    padding: 0;
    margin-top: 16px;
    font-size: 1em;
    font-style: italic
}

.markdown-body dl dd {
    padding: 0 16px;
    margin-bottom: 16px
}

.markdown-body blockquote {
    padding: 0 15px;
    color: #777;
    border-left: 4px solid #ddd
}

.markdown-body blockquote>:first-child {
    margin-top: 0
}

.markdown-body blockquote>:last-child {
    margin-bottom: 0
}

.markdown-body table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all
}

.markdown-body table td,.markdown-body table th {
    padding: 6px 13px;
    border: 1px solid #ddd
}

.markdown-body table tr {
    background-color: #fff;
    border-top: 1px solid #ccc
}

.markdown-body table tr:nth-child(2n) {
    background-color: #f8f8f8
}

.markdown-body img {
    max-width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.markdown-body .emoji {
    max-width: none
}

.markdown-body span.frame {
    display: block;
    overflow: hidden
}

.markdown-body span.frame>span {
    display: block;
    float: left;
    width: auto;
    padding: 7px;
    margin: 13px 0 0;
    overflow: hidden;
    border: 1px solid #ddd
}

.markdown-body span.frame span img {
    display: block;
    float: left
}

.markdown-body span.frame span span {
    display: block;
    padding: 5px 0 0;
    clear: both;
    color: #333
}

.markdown-body span.align-center {
    display: block;
    overflow: hidden;
    clear: both
}

.markdown-body span.align-center>span {
    display: block;
    margin: 13px auto 0;
    overflow: hidden;
    text-align: center
}

.markdown-body span.align-center span img {
    margin: 0 auto;
    text-align: center
}

.markdown-body span.align-right {
    display: block;
    overflow: hidden;
    clear: both
}

.markdown-body span.align-right>span {
    display: block;
    margin: 13px 0 0;
    overflow: hidden;
    text-align: right
}

.markdown-body span.align-right span img {
    margin: 0;
    text-align: right
}

.markdown-body span.float-left {
    display: block;
    float: left;
    margin-right: 13px;
    overflow: hidden
}

.markdown-body span.float-left span {
    margin: 13px 0 0
}

.markdown-body span.float-right {
    display: block;
    float: right;
    margin-left: 13px;
    overflow: hidden
}

.markdown-body span.float-right>span {
    display: block;
    margin: 13px auto 0;
    overflow: hidden;
    text-align: right
}

.markdown-body code,.markdown-body tt {
    padding: .2em 0;
    margin: 0;
    font-size: 85%;
    background-color: rgba(0,0,0,.04);
    /* border-radius: 3px */
}

.markdown-body code:after,.markdown-body code:before,.markdown-body tt:after,.markdown-body tt:before {
    letter-spacing: -.2em;
    content: " "
}

.markdown-body code br,.markdown-body tt br {
    display: none
}

.markdown-body del code {
    text-decoration: inherit
}

.markdown-body pre>code {
    padding: 0;
    margin: 0;
    font-size: 100%;
    word-break: normal;
    white-space: pre;
    background: 0 0;
    border: 0
}

.markdown-body .highlight {
    margin-bottom: 16px
}

.markdown-body .highlight pre,.markdown-body pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    /* background-color: #f7f7f7; */
    /* border-radius: 3px */
}

.markdown-body .highlight pre {
    margin-bottom: 0;
    word-break: normal
}

.markdown-body pre {
    word-wrap: normal
}

.markdown-body pre code,.markdown-body pre tt {
    display: inline;
    max-width: initial;
    padding: 0;
    margin: 0;
    overflow: initial;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0
}

.markdown-body pre code:after,.markdown-body pre code:before,.markdown-body pre tt:after,.markdown-body pre tt:before {
    content: normal
}

.markdown-body kbd {
    display: inline-block;
    padding: 3px 5px;
    font-size: 11px;
    line-height: 10px;
    color: #555;
    vertical-align: middle;
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    border-bottom-color: #bbb;
    /* border-radius: 3px; */
    -webkit-box-shadow: inset 0 -1px 0 #bbb;
    box-shadow: inset 0 -1px 0 #bbb
}

.pl-c {
    color: #969896
}

.pl-c1,.pl-s .pl-v {
    color: #0086b3
}

.pl-e,.pl-en {
    color: #795da3
}

.pl-s .pl-s1,.pl-smi {
    color: #333
}

.pl-ent {
    color: #63a35c
}

.pl-k {
    color: #a71d5d
}

.pl-pds,.pl-s,.pl-s .pl-pse .pl-s1,.pl-sr,.pl-sr .pl-cce,.pl-sr .pl-sra,.pl-sr .pl-sre {
    color: #183691
}

.pl-v {
    color: #ed6a43
}

.pl-id {
    color: #b52a1d
}

.pl-ii {
    background-color: #b52a1d;
    color: #f8f8f8
}

.pl-sr .pl-cce {
    color: #63a35c
}

.pl-ml {
    color: #693a17
}

.pl-mh,.pl-mh .pl-en,.pl-ms {
    color: #1d3e81
}

.pl-mq {
    color: teal
}

.pl-mi {
    color: #333;
    font-style: italic
}

.pl-mb {
    color: #333
}

.pl-md {
    background-color: #ffecec;
    color: #bd2c00
}

.pl-mi1 {
    background-color: #eaffea;
    color: #55a532
}

.pl-mdr {
    color: #795da3
}

.pl-mo {
    color: #1d3e81
}

pre {
    border: 1px solid #ccc;
}

.tools-wrapper {
  position: fixed;
  right: 1em;
  bottom: 3.4375em;
  z-index: 9;
  width: 2.5em;
}

.tools-wrapper a {
  color: #999;
  text-align: center;
  margin-bottom: -1px;
  background: rgba(255, 255, 255, 32);
}

.tools-wrapper span.octicon {
  font-size: 1.5em;
}

.tools-wrapper .gotop {
  display: none;
}

.top-most-flag {
  color: red;
}

a.footnote:hover {
    border-bottom: none
}

a.footnote::before {
    content: "[";
    padding: 0 2px
}

a.footnote::after {
    content: "]";
    padding: 0 2px
}

div.footnotes>ol {
    padding-left: 1.5rem;
    font-size: 0.9rem
}

div.footnotes>ol p {
    margin-bottom: 0.5rem
}

div.footnotes::before {
    content: "";
    display: block;
    margin: 1.5rem 0;
    border: 0;
    border-top: 1px solid #ccc;
    width: 20%
}

img + em {
  color: grey;
}

.content-header-ad { display:inline-block; width: 320px; height: 50px; }
@media (max-width: 400px) { .content-header-ad { display: none; } }
@media (min-width:500px) { .content-header-ad { width: 468px; height: 60px; } }
@media (min-width:800px) { .content-header-ad { width: 728px; height: 90px; } }



html {
    font: 5vmin/1.3 Serif;
    overflow: hidden;
    background: #123;
  }
  
  body, head {
    display: block;
    font-size: 52px;
    color: transparent;
  }
  
  head::before, head::after,
  body::before, body::after {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 3em;
    height: 3em;
    content: ".";
    mix-blend-mode: screen;
    animation: 44s -27s move infinite ease-in-out alternate;
  }
  
  body::before {
    text-shadow: 0.4193829117em 0.8979666921em 7px rgba(85, 255, 0, 0.9), -0.1742674695em -0.4682538357em 7px rgba(255, 0, 222, 0.9), 2.415402458em -0.3446771437em 7px rgba(255, 211, 0, 0.9), 0.8287625453em 0.2484308826em 7px rgba(18, 0, 255, 0.9), 1.5707759152em 1.4203653618em 7px rgba(121, 0, 255, 0.9), 1.4912843847em 2.4590236857em 7px rgba(224, 0, 255, 0.9), -0.2961752741em 1.4175607154em 7px rgba(255, 250, 0, 0.9), 1.5204254922em 0.6155503468em 7px rgba(255, 0, 207, 0.9), 0.0198735049em 1.1001198797em 7px rgba(0, 162, 255, 0.9), 0.5000127514em -0.118290909em 7px rgba(177, 0, 255, 0.9), 1.9702509265em -0.2929677805em 7px rgba(0, 133, 255, 0.9), -0.3146652439em 1.2768937517em 7px rgba(167, 0, 255, 0.9), 1.2488720774em 1.4075816665em 7px rgba(0, 255, 59, 0.9), 0.3124860723em 1.3071932198em 7px rgba(92, 0, 255, 0.9), 2.1925529622em -0.0935657656em 7px rgba(118, 255, 0, 0.9), 2.4083062192em -0.2236531923em 7px rgba(255, 111, 0, 0.9), -0.3980195331em 0.1869838694em 7px rgba(213, 0, 255, 0.9), 2.4349346367em 0.0343858363em 7px rgba(98, 255, 0, 0.9), 2.2829189954em 1.7276679607em 7px rgba(114, 255, 0, 0.9), 0.6322997614em 0.3742382791em 7px rgba(150, 0, 255, 0.9), 0.0540237363em 2.2746161226em 7px rgba(255, 0, 155, 0.9), 0.7628363534em 2.0715862532em 7px rgba(9, 0, 255, 0.9), -0.0728591711em 0.0923114049em 7px rgba(255, 0, 127, 0.9), 1.4063830012em -0.3201610046em 7px rgba(114, 255, 0, 0.9), 0.8777278261em 2.1882364116em 7px rgba(170, 255, 0, 0.9), 2.3703621013em 0.981739055em 7px rgba(255, 0, 242, 0.9), 2.3829857259em -0.2444605097em 7px rgba(255, 0, 11, 0.9), 1.7948644723em 1.9727864028em 7px rgba(0, 111, 255, 0.9), -0.0418156067em 1.7706943138em 7px rgba(0, 69, 255, 0.9), 0.3508206917em 0.2076328713em 7px rgba(255, 0, 23, 0.9), -0.2429650422em 2.2216038732em 7px rgba(255, 97, 0, 0.9), -0.0543088195em 1.1820657463em 7px rgba(0, 66, 255, 0.9), 1.8107830879em 0.7759669588em 7px rgba(0, 226, 255, 0.9), -0.3736533332em 1.6669749789em 7px rgba(255, 201, 0, 0.9), 0.1265889426em -0.2478541116em 7px rgba(61, 0, 255, 0.9), 0.4299050322em 0.2781816933em 7px rgba(255, 62, 0, 0.9), 2.4611518521em 0.9492613859em 7px rgba(0, 69, 255, 0.9), -0.2702824002em 1.8233753298em 7px rgba(0, 149, 255, 0.9), -0.3597671892em 0.7602505485em 7px rgba(0, 122, 255, 0.9), 0.2193655083em -0.3719153528em 7px rgba(0, 255, 43, 0.9), 2.0501279458em 1.7290581099em 7px rgba(2, 255, 0, 0.9);
    animation-duration: 44s;
    animation-delay: -27s;
  }
  
  body::after {
    text-shadow: 0.96745777em 0.6770699086em 7px rgba(255, 0, 52, 0.9), 1.9632221177em 1.7725813005em 7px rgba(202, 255, 0, 0.9), 1.0509260168em 2.4868923853em 7px rgba(0, 255, 67, 0.9), 1.162892369em 2.2336741745em 7px rgba(255, 255, 0, 0.9), 2.418303572em 0.5978723365em 7px rgba(229, 0, 255, 0.9), 0.3458109264em 2.0916623827em 7px rgba(163, 255, 0, 0.9), 0.5986670457em 2.3278317155em 7px rgba(255, 0, 26, 0.9), 0.8138906288em -0.2266451311em 7px rgba(0, 165, 255, 0.9), 2.2917262777em 1.3172352232em 7px rgba(0, 255, 101, 0.9), 0.5444077164em 1.4236783763em 7px rgba(96, 255, 0, 0.9), 1.7154979804em 1.0040427932em 7px rgba(0, 107, 255, 0.9), 2.3212607768em 2.2341735978em 7px rgba(255, 0, 221, 0.9), 0.4408554017em -0.4675339923em 7px rgba(140, 0, 255, 0.9), 2.4460343956em 1.2566039588em 7px rgba(255, 0, 43, 0.9), 2.4666875229em 0.1284827668em 7px rgba(0, 255, 145, 0.9), -0.3580834881em -0.1477703458em 7px rgba(0, 179, 255, 0.9), 0.2856776068em 1.9137038023em 7px rgba(255, 0, 194, 0.9), 2.4809791763em 1.3112327095em 7px rgba(255, 129, 0, 0.9), 1.6971194285em 2.4100345392em 7px rgba(255, 254, 0, 0.9), 2.2842070748em 1.1646154948em 7px rgba(0, 24, 255, 0.9), 0.7036878962em 0.216105457em 7px rgba(0, 248, 255, 0.9), 1.4530523194em 1.0054604968em 7px rgba(0, 28, 255, 0.9), 0.1168358589em 0.7737499448em 7px rgba(0, 255, 174, 0.9), 1.6690318545em 0.8518396805em 7px rgba(255, 0, 199, 0.9), 0.0682212089em 1.3711263334em 7px rgba(0, 255, 150, 0.9), -0.3450942082em -0.434309339em 7px rgba(255, 0, 154, 0.9), -0.2258696714em 1.1730573772em 7px rgba(0, 101, 255, 0.9), 1.1907735568em 0.9512819454em 7px rgba(255, 56, 0, 0.9), 0.8280932956em 0.2165797724em 7px rgba(255, 14, 0, 0.9), 0.5743886449em -0.0881051493em 7px rgba(0, 255, 29, 0.9), -0.418084085em 1.3516064028em 7px rgba(255, 0, 84, 0.9), 1.7558932371em 1.4377149029em 7px rgba(255, 0, 131, 0.9), 0.3263721605em 0.9637496997em 7px rgba(255, 40, 0, 0.9), 1.9443520309em 0.9191109006em 7px rgba(255, 0, 124, 0.9), -0.0607096974em 2.0460687011em 7px rgba(0, 255, 0, 0.9), 0.1086478531em 1.6841667399em 7px rgba(0, 255, 124, 0.9), -0.4480903762em 2.2166004912em 7px rgba(115, 0, 255, 0.9), 0.8858488226em 1.1327390385em 7px rgba(100, 0, 255, 0.9), 1.8698775688em 2.1373794904em 7px rgba(211, 255, 0, 0.9), 0.5415305661em 2.2320517951em 7px rgba(0, 214, 255, 0.9), 1.4283823232em 1.2383256118em 7px rgba(0, 76, 255, 0.9);
    animation-duration: 43s;
    animation-delay: -32s;
  }
  
  head::before {
    text-shadow: 1.8474624298em 0.5721174644em 7px rgba(0, 255, 0, 0.9), -0.0756501564em 2.0716156952em 7px rgba(255, 15, 0, 0.9), 0.811590449em 0.0665030589em 7px rgba(0, 255, 9, 0.9), 2.0765041373em 0.4358299198em 7px rgba(0, 255, 105, 0.9), 0.5065008954em 0.0664120959em 7px rgba(0, 231, 255, 0.9), 1.2087774801em 0.8579657314em 7px rgba(255, 206, 0, 0.9), 1.4591812952em 1.4535265459em 7px rgba(0, 255, 231, 0.9), 0.3653283986em 0.69888067em 7px rgba(255, 227, 0, 0.9), 0.7441087349em 2.3113432976em 7px rgba(228, 0, 255, 0.9), 2.2968165227em 1.6420008659em 7px rgba(255, 5, 0, 0.9), 0.8953429774em 2.2518751431em 7px rgba(0, 19, 255, 0.9), 1.094837822em 1.9048950263em 7px rgba(232, 0, 255, 0.9), 0.2419509185em 0.0126723426em 7px rgba(0, 80, 255, 0.9), 1.3499636062em 2.0299542575em 7px rgba(255, 0, 72, 0.9), 1.9659743176em 1.5210718707em 7px rgba(0, 255, 165, 0.9), 1.0567277711em -0.1661730144em 7px rgba(255, 0, 89, 0.9), 2.2709375634em -0.3190531479em 7px rgba(101, 0, 255, 0.9), 1.5382675285em 2.4723460394em 7px rgba(122, 255, 0, 0.9), -0.2856193719em 0.1625018411em 7px rgba(41, 0, 255, 0.9), 1.3285920927em 1.591753109em 7px rgba(219, 255, 0, 0.9), 1.7569541663em 0.0940652232em 7px rgba(255, 164, 0, 0.9), 0.7994774382em 2.2585856751em 7px rgba(0, 228, 255, 0.9), 0.0979893314em -0.2264208932em 7px rgba(0, 255, 154, 0.9), 2.1625536467em 0.6744380854em 7px rgba(0, 255, 82, 0.9), 1.9140273782em 0.3207251703em 7px rgba(47, 255, 0, 0.9), 2.3352143141em 2.1983095484em 7px rgba(255, 0, 220, 0.9), -0.0023203765em 1.4355908617em 7px rgba(255, 252, 0, 0.9), 1.8655457294em 1.5049638575em 7px rgba(173, 255, 0, 0.9), 0.8029981801em 0.8351682965em 7px rgba(255, 0, 95, 0.9), 1.9230562363em -0.2098822061em 7px rgba(0, 44, 255, 0.9), -0.3184753519em 2.1769966895em 7px rgba(2, 255, 0, 0.9), 2.0392653013em 2.1048724605em 7px rgba(116, 255, 0, 0.9), 1.8428728622em -0.0647727355em 7px rgba(230, 0, 255, 0.9), 0.8464390731em 0.1991405231em 7px rgba(255, 253, 0, 0.9), 2.0075091481em 0.4913014179em 7px rgba(0, 255, 235, 0.9), -0.3303641738em 0.9268762028em 7px rgba(255, 0, 178, 0.9), 0.5745933358em 1.6246074616em 7px rgba(73, 255, 0, 0.9), 2.3877334737em 2.1996746117em 7px rgba(176, 0, 255, 0.9), 0.7181106644em 1.817181259em 7px rgba(0, 237, 255, 0.9), 2.082231142em 1.4676481383em 7px rgba(0, 147, 255, 0.9), -0.1066593837em 1.7727502991em 7px rgba(136, 0, 255, 0.9);
    animation-duration: 42s;
    animation-delay: -23s;
  }
  
  head::after {
    text-shadow: 0.5552739874em 0.1673662391em 7px rgba(0, 255, 55, 0.9), 0.7568921044em 2.2569206485em 7px rgba(255, 168, 0, 0.9), 1.8238691776em 0.034053195em 7px rgba(0, 80, 255, 0.9), 1.3489808474em 2.3190849796em 7px rgba(195, 255, 0, 0.9), 0.6891636718em 0.0994441481em 7px rgba(255, 70, 0, 0.9), 1.9326201558em -0.1646051954em 7px rgba(223, 0, 255, 0.9), -0.1004324162em 2.0085271242em 7px rgba(255, 0, 231, 0.9), -0.2794619386em 2.3720529954em 7px rgba(0, 255, 224, 0.9), 0.7840638938em 1.3261682567em 7px rgba(0, 187, 255, 0.9), 1.2618703342em 0.6617299888em 7px rgba(45, 255, 0, 0.9), 2.3172499667em 1.9039067411em 7px rgba(255, 0, 123, 0.9), 1.6406919598em -0.1149540585em 7px rgba(120, 255, 0, 0.9), 0.1268520345em 1.8133068175em 7px rgba(255, 41, 0, 0.9), 2.4594837118em 0.8581499593em 7px rgba(0, 20, 255, 0.9), 1.8510660326em 2.3056995281em 7px rgba(0, 243, 255, 0.9), 1.3618271176em -0.3328504301em 7px rgba(0, 55, 255, 0.9), -0.290476295em -0.1420907915em 7px rgba(10, 0, 255, 0.9), -0.197214126em 2.4716394954em 7px rgba(0, 255, 125, 0.9), -0.1829197826em -0.293017014em 7px rgba(255, 0, 88, 0.9), 0.5793200987em 2.0399930932em 7px rgba(179, 255, 0, 0.9), 1.4652943429em 0.5650039158em 7px rgba(0, 172, 255, 0.9), 0.9656983606em 1.0250151569em 7px rgba(255, 0, 167, 0.9), -0.154503054em 2.2990296217em 7px rgba(0, 255, 107, 0.9), 2.2251155541em 2.4177707907em 7px rgba(0, 255, 134, 0.9), 1.6456209929em 1.3832710331em 7px rgba(0, 113, 255, 0.9), 0.2729348409em 0.8104127859em 7px rgba(255, 80, 0, 0.9), 0.9913875353em 2.4453403486em 7px rgba(167, 255, 0, 0.9), 2.3600992719em 0.4874264948em 7px rgba(255, 0, 98, 0.9), -0.2736105948em 1.7393002264em 7px rgba(145, 255, 0, 0.9), 0.1898218597em 1.8914163553em 7px rgba(255, 249, 0, 0.9), 0.9642106053em -0.3908311034em 7px rgba(255, 1, 0, 0.9), 1.9278386027em -0.1831324712em 7px rgba(255, 0, 200, 0.9), 2.0063312281em -0.2965808742em 7px rgba(255, 0, 129, 0.9), 2.1957130839em 1.1291185126em 7px rgba(255, 0, 243, 0.9), 1.1502808862em 0.2230078217em 7px rgba(0, 219, 255, 0.9), 1.6251725142em -0.3033686423em 7px rgba(255, 69, 0, 0.9), 1.8915486961em 1.1082487011em 7px rgba(226, 0, 255, 0.9), 0.7494263172em 0.1214029404em 7px rgba(255, 40, 0, 0.9), 0.7418389389em 2.368953565em 7px rgba(0, 66, 255, 0.9), 1.3586059668em 1.8725135782em 7px rgba(201, 255, 0, 0.9), 0.0741475055em 1.5451284692em 7px rgba(0, 255, 87, 0.9);
    animation-duration: 41s;
    animation-delay: -19s;
  }
  
  @keyframes move {
    from {
      transform: rotate(0deg) scale(12) translateX(-20px);
    }
    to {
      transform: rotate(360deg) scale(18) translateX(20px);
    }
  }